@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.guest-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 100px;
    background:var(--primary);
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
    position:sticky;
    top:0;
    z-index:100;
    border: 1px solid var(--gray);
}

.guest-header h1{
    color:var(--white);
    font-size:30px;
}

.guest-header nav{
    display:flex;
    align-items:center;
    gap:30px;
}

.guest-header nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.guest-header nav ul li a{
    text-decoration:none;
    color:var(--dark);
    font-weight:500;
    transition:0.3s;
}

.guest-header nav ul li a:hover{
    color:var(--white);
}

.guest-header nav > a{
    text-decoration:none;
    background:var(--primary-dark);
    color:var(--white);
    padding:10px 20px;
    border-radius:10px;
    font-weight:500;
    transition:0.3s;
}

.guest-header nav > a:hover{
    background:var(--white);
    color: var(--primary-dark);
}